<div class="container">
    <div class="profile">

        <div class="profile-avatar animate__animated animate__flip animate__infinite ">
            <img class="animated flip infinite" src="../../assets/img/avatar.png" alt="">
        </div>
        <div class="profile-content">
            <div class="profile-title">
                I am Tendai Katsande
            </div>
            <div>
                A Systems Engineer
            </div>
        </div>

        <div class="profile-actions">
            <div class="profile-action-btn" (click)="view ='resume'">My Resume</div>
            <div class="profile-action-btn" (click)="view ='projects'">Projects</div>
            <div class="profile-action-btn" (click)="view ='blog'">Articles</div>
        </div>


    </div>
    <div>
        <app-projects [hidden]="view!=='projects'"></app-projects>
        <app-blog [hidden]="view!=='blog'"></app-blog>
        <app-resume [hidden]="view!=='resume'"></app-resume>
    </div>
</div>