<div class="container">
    <div class="profile">

        <div class="profile-avatar">
            <img src="../../assets/img/avatar.png" alt="">
        </div>
        <div class="profile-content">
            <div class="profile-title">
                I am Tendai Katsande
            </div>
            <div>
                A Systems Engineer
            </div>
        </div>

        <div class="profile-actions">
            <div class="profile-action-btn">My Resume</div>
            <div class="profile-action-btn">Projects</div>
            <div class="profile-action-btn">Articles</div>
        </div>

    </div>
    <div>

    </div>
</div>